<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>GitBusyLivin</Name>
    <Version>0.0.17</Version>
    <Title>GitBusyLivin Installer</Title>
    <Publisher>Evolke</Publisher>
    <StartMenuDir>GitBusyLivin</StartMenuDir>
    <TargetDir>@ApplicationsDir@/GitBusyLivin</TargetDir>
    <RemoteRepositories>
    	<Repositor>
    		<Url>http://evolke.com/gitbusylivin/installer/repository</Url>
    	</Repositor>
   	</RemoteRepositories>
</Installer>
